{% load static %}
<style>
    .flex-menu {
        display: flex;
        justify-content: space-between;
    }

    .menu-container {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .menu-login {
        flex-grow: 1;
        text-align: right;
    }
</style>


<div class="flex-menu">
    <div class="menu-container">
        <div>
            <!--
            <img src="#" alt="LOGO">
            -->
        </div>
        <nav class="menu-login">
            <a href="{% url 'user:login' %}">
                <p>Login</p>
            </a>
        </nav>
    </div>
</div>

<div class="content-wrapper">
    <hr style="margin: 20px 0; border-width: 1px;">
</div>